<header>
    <h1>Exchange Rate Tracker</h1>
    <div class="rates" *ngIf="rates$ | async as data; else loading">
      <div *ngFor="let currency of currencies" class="rate">
        <span class="currency-icon">{{ getCurrencyIcon(currency) }}</span>
        <p>{{ currency }} to UAH: {{ convertToUAH(data, currency) | number:'1.2-2' }}</p>
      </div>
    </div>
    <ng-template #loading>
      <div class="loading">
        <p>Loading exchange rates...</p>
      </div>
    </ng-template>
  </header>