<div class="converter">
    <div class="currency-input">
      <input
        type="number"
        [(ngModel)]="amountLeft"
        (input)="convertFromLeftAmount()"
      />
      <select [(ngModel)]="currencyLeft" (change)="convertFromLeftAmount()">
        <option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </option>
      </select>
    </div>
  
    <div class="currency-input">
      <input
        type="number"
        [(ngModel)]="amountRight"
        (input)="convertFromRightAmount()"
      />
      <select [(ngModel)]="currencyRight" (change)="convertFromRightAmount()">
        <option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </option>
      </select>
    </div>
  </div>