<div class="container">
  <h1 class="title">Top 10 Cryptocurrencies</h1>
  <div class="crypto-list">
    <mat-card *ngFor="let crypto of cryptoData; let i = index" [ngClass]="crypto.symbol.toLowerCase()" class="crypto-card">
      <h2>{{ i + 1 }}. {{ crypto.name }} ({{ crypto.symbol.toUpperCase() }}): ${{ crypto.current_price | number: '1.2-2' }}</h2>
    </mat-card>
  </div>
  <div class="chart-container">
    <ngx-charts-bar-horizontal
      [view]="[1200, 800]"
      [scheme]="colorScheme"
      [results]="chartData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [animations]="animations"
      [barPadding]="10">
    </ngx-charts-bar-horizontal>
  </div>
</div>